@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import url('../css/fontawesome-all.min.css');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

/* Basic */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: black;
  margin: 0;
  overflow-x: hidden;
}

body,
input,
select,
textarea {
  color: _palette(fg);
  font-family: _font(family);
  font-size: 15pt;
  font-weight: _font(weight);
  line-height: 1.75em;
}

a {
  @include vendor(
    'transition',
    (
      'border-color #{_duration(transition)} ease-in-out',
      'color #{_duration(transition)} ease-in-out'
    )
  );
  color: _palette(accent1);
  text-decoration: none;

  &:hover {
    color: _palette(accent1) !important;
    border-bottom-color: transparent;
  }
}

strong,
b {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 _size(element-margin) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
  line-height: 1em;
  margin: 0 0 (_size(element-margin) * 0.5) 0;

  a {
    color: inherit;
    border: 0;
  }
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

/* Goto Next */

.goto-next {
  border: 0;
  bottom: 0;
  display: block;
  height: 5em;
  left: 50%;
  margin: 0 0 0 -5em;
  overflow: hidden;
  position: absolute;
  text-indent: 10em;
  white-space: nowrap;
  width: 10em;
  z-index: 1;
  cursor: pointer;

  &:before {
    transition: 0.3s;
    background-image: url('../css/images/arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: -0.75em 0 0 -1em;
    position: absolute;
    top: 50%;
    width: 2em;
    z-index: 1;
  }

  &:hover:before {
    transform: scale(1.2);
  }
}

/* compare-img */

.compare-container {
  height: 100vh;
  overflow: hidden;
  padding: 3em 5em 3em 5em;
  background-image: url('../images/blog_background.png');

  .compare-outter {
    box-shadow: 0 0 50px 15px black !important;
    background-image: url('../images/blog_background_inner.png');
    padding: 2em;

    h1 {
      font-family: 'Kaushan Script', cursive;
      font-size: 3.5vw;
    }
  }
  .compare-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .lolo-container {
      position: absolute;
      bottom: -15px;
      left: 0;
    }

    .instagram-container {
      margin-top: -7vw;
      margin-right: 2vw;

      h5 {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px black;
        font-family: 'Kaushan Script', cursive;
        font-size: 1.8vw;
      }

      .insta {
        box-shadow: 0 0 40px 8px black;
      }
    }

    .compare-img {
      margin-left: 7vw;
      width: 45%;
      position: relative;

      .compare-img-container {
        box-shadow: 0 0 10px 5px rgb(0, 0, 0);
        margin-top: 30px;

        div img {
          object-fit: contain !important;
        }

        .postcard-container {
          position: absolute;
          z-index: -1;
          transform: rotate(-15deg);
          top: 0;
          left: 10%;
          box-shadow: 0 0 10px 5px rgb(0, 0, 0);
        }

        .envelope-container {
          position: absolute;
          z-index: -2;
          transform: rotate(-3deg) scale(1.2);
          box-shadow: 0 0 10px 5px rgb(0, 0, 0);
          left: 5%;

          img {
            height: 100%;
          }
        }
      }
      .compare-img-text {
        border: 2px solid rgb(255, 255, 255);
        box-shadow: inset 0 0 5px 2px black;
        padding: 5px;
        color: black;
        min-width: 12vw;
        text-align: center;
        position: absolute;
        left: 80%;
        top: 40%;

        .compare-img-text-inner {
          box-shadow: inset 0 0 5px 2px black;
          color: black;
          background-color: rgb(255, 242, 220);
          position: relative;
          padding: 0.5em 1em 1.5em 1em;

          h3 {
            color: black;
            font-weight: bold;
            font-family: 'Special Elite', cursive;
            font-size: 2vw;
            margin: 0.5em;
          }
          p {
            line-height: 180%;
            font-size: 0.9vw;
            font-family: 'Special Elite', cursive;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 480px) {
}

/* Nav */

#page-wrapper {
  @include vendor('backface-visibility', 'hidden');
  @include vendor('transition', 'transform #{_duration(navPanel)} ease');
  padding-bottom: 1px;
}

#titleBar {
  @include vendor('backface-visibility', 'hidden');
  @include vendor('transition', 'transform #{_duration(navPanel)} ease');
  display: block;
  height: 44px;
  left: 0;
  position: fixed;
  top: 0;
  width: none;
  z-index: _misc(z-index-base) + 1;
  background: _palette(accent2);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);

  .title {
    color: _palette(fg-bold);
    display: block;
    font-weight: _font(weight-bold);
    height: 44px;
    line-height: 44px;
    text-align: center;

    a {
      color: inherit;
      border: 0;
    }
  }

  .toggle {
    @include icon(false, solid);
    text-decoration: none;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 90px;
    outline: 0;
    border: 0;
    transition: all 0.3s;
    cursor: pointer;

    &:before {
      color: _palette(fg-light);
      content: '\f0c9';
      display: block;
      font-size: 1.5em;
      padding: 0.8em 0.8em 0.8em 1.5em;
      position: absolute;
      text-align: center;
    }

    &:hover {
      transform: scale(1.2) translate3d(8px, 5px, 0px);
    }
  }
}

#navPanel {
  @include vendor('backface-visibility', 'hidden');
  @include vendor('transform', 'translateX(#{_size(navPanel) * -1})');
  @include vendor('transition', ('transform #{_duration(navPanel)} ease'));
  display: block;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: _size(navPanel);
  z-index: _misc(z-index-base) + 2;
  background: darken(_palette(bg), 2);
  padding: 0.75em 1.25em;

  .link {
    border: 0;
    border-top: solid 1px transparentize(_palette(border), 0.25);
    color: _palette(fg);
    display: block;
    height: 3em;
    line-height: 3em;
    text-decoration: none;

    &:first-child {
      border-top: 0;
    }

    &.depth-0 {
      color: _palette(fg-bold);
      font-weight: _font(weight-bold);
    }

    .indent-1 {
      display: inline-block;
      width: 1.25em;
    }
    .indent-2 {
      display: inline-block;
      width: 2.5em;
    }
    .indent-3 {
      display: inline-block;
      width: 3.75em;
    }
    .indent-4 {
      display: inline-block;
      width: 5em;
    }
    .indent-5 {
      display: inline-block;
      width: 6.25em;
    }
  }
}

body .navPanel-visible {
  #titleBar {
    @include vendor('transform', 'translateX(#{_size(navPanel)})');
  }

  #navPanel {
    @include vendor('transform', 'translateX(0)');
  }
}

////////////////////////////////////////////

/* Banner */

#banner {
}
/* Content */

#content {
  margin: auto auto;
  margin-top: -15vw;
  position: relative;
  z-index: 1;
  width: 95vw;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* Top Articles */

#TopArticles {
  position: relative;
  top: -10vw;

  .top-first,
  .top-second {
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 228, 228);
    box-shadow: 0 0 30px 0px rgb(102, 102, 102);
    margin: auto auto;
    width: 60vw;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px 0px rgb(23, 156, 112);
      transform: scale(1.05);
    }

    &:nth-child(1) {
      margin-bottom: 2em;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: 50%;
    }

    p {
      color: black;
      padding: 3em;
    }
  }
}

/* Statistics */

#Statistics {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 228, 228);
  box-shadow: 0 0 15px 2px black;
  width: 60vw;
  margin: 10vw auto 5vw auto !important;
  flex-wrap: wrap;

  .stats-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 25vw;
    padding: 1em;

    .icon {
      position: relative;
      display: inline-block;
      margin: 1em;
      width: 8em;
    }

    p {
      color: black;
      text-align: center;

      .counter {
        color: yellow;
      }
    }
  }
}
